@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>预测你我的世界</h1>
    <p class="lead">你是Superforecaster®吗？<br />
            加入互联网最聪明的人群。 提高你的预测技能，并找出你如何堆积。</p>
    <p><a href="#" class="btn btn-primary btn-large">开始预测 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>2018的世界</h2>
        <p>
            你认为2018年会发生什么？这是您进行预测的机会。<br />

            参加2018年经济学人的世界预测挑战，测试你预测年度汇编预测中的政治，经济和文化事件的能力。
        </p>
        <p>
            截止时间：<span>2018年10月1日02:59 （6个月）</span>
        </p>
        <p><a class="btn btn-default" href="#">加入挑战 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>2018的世界</h2>
        <p>
            你认为2018年会发生什么？这是您进行预测的机会。<br />

            参加2018年经济学人的世界预测挑战，测试你预测年度汇编预测中的政治，经济和文化事件的能力。
        </p>
        <p>
            截止时间：<span>2018年10月1日02:59 （6个月）</span>
        </p>
        <p><a class="btn btn-default" href="#">加入挑战 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>2018的世界</h2>
        <p>
            你认为2018年会发生什么？这是您进行预测的机会。<br />

            参加2018年经济学人的世界预测挑战，测试你预测年度汇编预测中的政治，经济和文化事件的能力。
        </p>
        <p>
            截止时间：<span>2018年10月1日02:59 （6个月）</span>
        </p>
        <p><a class="btn btn-default" href="#">加入挑战 &raquo;</a></p>
    </div>
</div>